@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hannah Sullivan MIS 4200</h1>
    <p class="lead">Senior Management Information Student at Ohio University. Creating this application for MIS 4200.</p>
    <p><a class="btn btn-default" href="https://www.linkedin.com/in/hannsullivan/">LinkedIn &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pre-College</h2>
        <p>
            I grew up in Sunbury, Ohio about 30 minutes north of Columbus. 
            I went to Big Walnut High School where I did Cheerleading for 
            Football, Basketball and Competition. I also Cheered for Midwest
            Cheer Elite.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>College Life</h2>
        <p>
            I am currently a Senior involved in the Professional Business
            Fraternity, Phi Chi Theta where I just ended my term as the
            Communications and Public Relations Director as well as the
            Information Technology Director.
        </p>
        @Html.ActionLink("Students", "Index", "Students")<br />
        @Html.ActionLink("Courses", "Index", "Courses")<br />
        @Html.ActionLink("Grades", "Index", "Grades")

    </div>
    <div class="col-md-4">
        <h2>Post-College</h2>
        <p>
            I will be moving back to Sunbury to live with my mom and sister
            where I have accepted a full-time job offer with Insight Global as
            an Information Technology Recruiter.
        </p>
    </div>
</div>